In [1]:
import pandas as pd

In [2]:
# Simple Series 1 D

s1 = pd.Series([2, 4, 6, 8, 10])

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
print(s1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
# Series with Custom Index
s2 = pd.Series([2, 4, 5, 7, 8, 9], index=["Dushyant","Mayank","Divyansh","Drishti","Kriti","Neeti"])

In [6]:
s2

Dushyant    2
Mayank      4
Divyansh    5
Drishti     7
Kriti       8
Neeti       9
dtype: int64

In [7]:
print(s2["Dushyant"])

2

In [8]:
print(s2["Neeti"])

9

In [9]:
# Data Frame 2 D (Data Structure)
# DataFrame is like a dictionary of Series â€” multiple columns with labels.

data1 = {
    "name": ["Dushyant","Mayank","Divyansh"],
    "age": [20, 19, 16],
    "city": ["Banglore","Delhi","Sirsa"]
}

In [10]:
# Printing Simple Dictionary
data1

{'name': ['Dushyant', 'Mayank', 'Divyansh'],
 'age': [20, 19, 16],
 'city': ['Banglore', 'Delhi', 'Sirsa']}

In [11]:
pd.DataFrame(data1)

       name  age      city
0  Dushyant   20  Banglore
1    Mayank   19     Delhi
2  Divyansh   16     Sirsa

In [12]:
# Create direct Data Frame

df = pd.DataFrame(
    {
        "name": ["Dushyant","Mayank","Divyansh"],
        "age": [20, 19, 16],
        "city": ["Banglore","Delhi","Sirsa"]
    }
)

In [13]:
df

       name  age      city
0  Dushyant   20  Banglore
1    Mayank   19     Delhi
2  Divyansh   16     Sirsa

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.columns

Index(['name', 'age', 'city'], dtype='object')